<header class="flex items-center justify-between p-4 bg-slate-200 shadow">
    <div class="flex-col ml-8">
        <h1 class="text-2xl font-bold">Olá, Enzo Gabriel</h1>
        <h2 class="text-md">Seja bem-vindo!</h2>
    </div>
    <div class="flex items-center space-x-4 gap-4">
        <div class="relative mr-4">
            <input
                type="text"
                placeholder="Search anything..."
                class="pr-10 pl-4 py-2 border rounded"
            />
            <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                <svg
                    class="w-5 h-5 text-gray-500"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM8 14a6 6 0 100-12 6 6 0 000 12z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
            </span>
        </div>

        <button
            class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700"
        >
            + Novo Roadmap
        </button>
        <div class="flex items-center gap-3">
            <span
                class="text-xl cursor-pointer rounded-full bg-white p-2 hover:bg-blue-100 transition-colors duration-300"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M3 19V6C3 5.44772 3.44772 5 4 5H8.03163C8.3284 5 8.60985 5.13182 8.79985 5.35982L10.7002 7.64018C10.8901 7.86818 11.1716 8 11.4684 8H16C16.5523 8 17 8.44772 17 9V10M3 19L6 11H21L18 19H3Z"
                        stroke="#383838"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </span>
            <span
                class="text-xl cursor-pointer rounded-full bg-white p-2 hover:bg-blue-100 transition-colors duration-300"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12 5.464V3.099M12 5.464C13.3851 5.5172 14.6952 6.1071 15.6531 7.10892C16.6111 8.11074 17.1418 9.44591 17.133 10.832V12.632C17.133 15.018 19 15.614 19 16.807C19 17.4 19 18 18.462 18H5.538C5 18 5 17.4 5 16.807C5 15.614 6.867 15.018 6.867 12.632V10.832C6.85819 9.44591 7.38889 8.11074 8.34685 7.10892C9.30481 6.1071 10.6149 5.5172 12 5.464ZM6 5L5 4M4 9H3M18 5L19 4M20 9H21M8.54 18C8.63401 18.8519 9.03902 19.6393 9.67746 20.2111C10.3159 20.783 11.1429 21.0992 12 21.0992C12.8571 21.0992 13.6841 20.783 14.3225 20.2111C14.961 19.6393 15.366 18.8519 15.46 18H8.54Z"
                        stroke="#383838"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </span>

            <span
                class="text-xl cursor-pointer rounded-full bg-white p-2 hover:bg-blue-100 transition-colors duration-300"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12 20C10.107 20 8.36763 19.3425 6.99768 18.2435C6.99845 18.2441 6.99923 18.2448 7 18.2454V17.5625C7 15.7676 8.49238 14.3125 10.3333 14.3125H13.6667C15.5076 14.3125 17 15.7676 17 17.5625V18.2454C15.6304 19.3433 13.8919 20 12 20ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5003 17.5593 21.9635 12.0675 21.9998C12.045 21.9999 12.0225 22 12 22C11.9763 22 11.9527 21.9999 11.9291 21.9998C6.43889 21.9616 2 17.4992 2 12ZM12 7C10.1591 7 8.66667 8.45507 8.66667 10.25C8.66667 12.0449 10.1591 13.5 12 13.5C13.8409 13.5 15.3333 12.0449 15.3333 10.25C15.3333 8.45507 13.8409 7 12 7Z"
                        fill="#383838"
                    />
                </svg>
            </span>
        </div>
    </div>
</header>
