<div
    class="board-header flex flex-col md:flex-row justify-between items-center ml-8 mb-4"
>
    <div
        class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 font-bold"
    >
        <button
            class="flex items-center space-x-2 py-2 px-4 bg-blue-500 rounded-md shadow transition-colors duration-300 hover:bg-blue-700 group"
        >
            <svg
                class="w-5 h-5 text-white"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 5V19M9 5V19M4 5H20C20.5523 5 21 5.44772 21 6V18C21 18.5523 20.5523 19 20 19H4C3.44772 19 3 18.5523 3 18V6C3 5.44772 3.44772 5 4 5Z"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
            <span class="text-white">Board</span>
        </button>

        <button
            class="flex items-center space-x-2 py-2 px-4 bg-blue-500 rounded-md shadow transition-colors duration-300 hover:bg-blue-700 group"
        >
            <svg
                class="w-5 h-5 text-white"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 4H18C18.5523 4 19 4.44772 19 5V20C19 20.5523 18.5523 21 18 21H6C5.44772 21 5 20.5523 5 20V5C5 4.44772 5.44772 4 6 4H9M9 7H15M12 12H15M9 12H9.01M12 16H15M9 16H9.01M10 3V7H14V3H10Z"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
            <span class="text-white">To Do List</span>
        </button>
    </div>
    <div class="flex space-x-4 mt-4 md:mt-0">
        <span
            class="flex items-center justify-center w-10 h-10 rounded-full bg-white shadow cursor-pointer hover:bg-red-100 transition-colors duration-300"
        >
            <svg
                class="w-5 h-5 text-red-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18.1216 17.6451C17.4621 18.6942 16.5475 19.5532 15.4659 20.1397C14.3843 20.7261 13.1721 21.0201 11.9461 20.9934C10.8016 21.0446 9.6632 20.7971 8.63983 20.2745C7.61646 19.752 6.74228 18.9718 6.10086 18.0086C3.42769 13.4393 6.38723 9.16262 6.98692 8.3415C7.51886 7.77327 7.89262 7.07197 8.07003 6.30921C8.24744 5.54646 8.22214 4.74959 7.99672 4C9.28092 4.96489 14.4277 7.25815 13.5217 14.631C15.0184 13.495 16.2218 11.5845 16.3684 8.41541C17.7983 9.47648 20.3528 13.8767 18.1216 17.6451Z"
                    stroke="#FF0000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </span>
        <span
            class="flex items-center justify-center w-10 h-10 rounded-full bg-white shadow cursor-pointer hover:bg-yellow-100 transition-colors duration-300"
        >
            <svg
                class="w-5 h-5 text-yellow-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M11.0832 5.10395C11.4321 4.30322 12.5679 4.30322 12.9168 5.10395L14.6691 9.12569C14.817 9.46513 15.1404 9.69506 15.5096 9.72331L19.9717 10.0648C20.8714 10.1336 21.227 11.2648 20.5284 11.836L17.1986 14.5587C16.8989 14.8038 16.7676 15.1997 16.8615 15.5753L17.8907 19.6938C18.1052 20.5522 17.1812 21.2458 16.4168 20.8002L12.5037 18.5187C12.1924 18.3372 11.8076 18.3372 11.4963 18.5187L7.58318 20.8002C6.8188 21.2458 5.89482 20.5522 6.10934 19.6938L7.13854 15.5753C7.23239 15.1997 7.10105 14.8038 6.80137 14.5587L3.47155 11.836C2.77301 11.2648 3.12855 10.1336 4.02825 10.0648L8.49041 9.72331C8.8596 9.69506 9.18295 9.46513 9.33086 9.12569L11.0832 5.10395Z"
                    stroke="#FFD700"
                    stroke-width="2"
                />
            </svg>
        </span>
        <span
            class="flex items-center justify-center gap-2 space-x-2 py-2 px-4 bg-white shadow cursor-pointer border font-bold hover:text-green-600 rounded-lg hover:bg-green-100 transition-colors duration-300"
        >
            <svg
                class="w-5 h-5 text-green-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M4.5 17H4C3.44772 17 3 16.5523 3 16C3 14.3431 4.34315 13 6 13H7M7 9.94999C5.85888 9.71836 5 8.70948 5 7.5C5 6.11929 6.11929 5 7.5 5C8.06291 5 8.58237 5.18604 9.00024 5.5M19.5002 17H20.0002C20.5525 17 21.0002 16.5523 21.0002 16C21.0002 14.3431 19.6571 13 18.0002 13H17.0002M17.0002 9.94999C18.1414 9.71836 19.0002 8.70948 19.0002 7.5C19.0002 6.11929 17.881 5 16.5002 5C15.9373 5 15.4179 5.18604 15 5.5M15.5 19H8.5C7.94771 19 7.5 18.5523 7.5 18C7.5 16.3431 8.84314 15 10.5 15H13.5C15.1569 15 16.5 16.3431 16.5 18C16.5 18.5523 16.0523 19 15.5 19ZM14.5 9.5C14.5 10.8807 13.3807 12 12 12C10.6193 12 9.5 10.8807 9.5 9.5C9.5 8.11929 10.6193 7 12 7C13.3807 7 14.5 8.11929 14.5 9.5Z"
                    stroke="#008000"
                    stroke-width="2"
                    stroke-linecap="round"
                />
            </svg>
            Share
        </span>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 ml-8">
    <div>
        <a id="btn-outlined" class="btn btn-outlined">+ Nova Tarefa</a>
        <div id="blocked" class="kanban-column">
            <h2 class="kanban-title">Blocked</h2>
            <div class="task-list"></div>
        </div>
    </div>

    <div>
        <a id="btn-outlined" class="btn btn-outlined">+ Nova Tarefa</a>
        <div id="TODO" class="kanban-column">
            <h2 class="kanban-title">To Do</h2>
            <div class="task-list"></div>
        </div>
    </div>

    <div>
        <a id="btn-outlined" class="btn btn-outlined">+ Nova Tarefa</a>
        <div id="progress" class="kanban-column">
            <h2 class="kanban-title">In Progress</h2>
            <div class="task-list"></div>
        </div>
    </div>

    <div>
        <a id="btn-outlined" class="btn btn-outlined">+ Nova Tarefa</a>
        <div id="completed" class="kanban-column">
            <h2 class="kanban-title">Completed</h2>
            <div class="task-list"></div>
        </div>
    </div>
</div>

<style></style>
