<section class=" grid grid-cols-4">

    <div id="TODO" class="bg-white shadow p-4">
      <h2 class="font-bold text-lg ml-40 mb-4">To Do</h2>
      <button class="bg-blue-100 rounded-md text-blue-700 py-2 px-4 w-full mb-4" onclick="addTask('TODO')">+ Nova Tarefa</button>
      <div class="bg-slate-100 rounded-md p-4 mb-4">
        <h3 class="font-bold mb-2">Slack Integration</h3>
        <p class="text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium impedit consequuntur sed sunt vitae cupiditate corporis nulla, architecto provident fuga suscipit iste ab ratione mollitia dolorem nam assumenda inventore repellendus!</p>
        <div class="flex justify-between items-center text-black text-sm">
          <span class="bg-yellow-200 text-black font-bold rounded-lg p-4">Development</span>
          <span>Tomorrow</span>
        </div>
      </div>
    
      
      <div class="bg-slate-100 rounded-md p-4 mb-4">
        <h3 class="font-bold mb ">Implement Apps</h3>
        <p class="text-black text-sm mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum accusantium enim non dicta quidem nulla ratione labore hic, pariatur rerum mollitia eos saepe et odit. Officiis, a. Soluta, doloremque necessitatibus!</p>
        <div class="flex justify-between items-center text-black text-sm" >
          <span>Tomorrow</span>
        </div>
      </div>
    </div>


    <div id="progress" class="bg-white shadow p-4">
      <h2 class="font-bold text-lg ml-40 mb-4">In Progress</h2>
      <button class="bg-blue-100 rounded-md text-blue-700 py-2 px-4 w-full mb-4" onclick="AddTask('progress')">+ Nova Tarefa</button>
      <div class="bg-slate-100 p-4 rounded-md mb-4">
      <h3 class="font-bold mb-2">Web App Project</h3>
      <p class="text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolores sunt maxime ab, itaque eveniet maiores qui excepturi distinctio officiis harum voluptate. Blanditiis ducimus voluptatem minima itaque esse unde magnam!</p>
        <div class="flex justify-between items-center text-black text-sm">
        <span class="bg-yellow-200 text-black font-bold rounded-lg p-4">Development</span>
        <span>Tomorrow</span>
        </div>
      </div>
      <div class="bg-slate-100 rounded-md p-4 mb-4">
        <h3 class="font-bold mb ">Implement Apps</h3>
        <p class="text-black text-sm mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum accusantium enim non dicta quidem nulla ratione labore hic, pariatur rerum mollitia eos saepe et odit. Officiis, a. Soluta, doloremque necessitatibus!</p>
        <div class="flex justify-between items-center text-black text-sm" >
          <span>Tomorrow</span>
        </div>
      </div>
    </div>
    </div>

    <div id="completed" class="bg-white shadow p-4">
      <h2 class="font-bold text-lg ml-40 mb-4">Completed</h2>
      <button class="bg-blue-100 rounded-md text-blue-700 py-2 px-4 w-full mb-4" onclick="AddTask('completed')">+ Nova Tarefa</button>
      <div class="bg-slate-100 p-4 rounded-md mb-4">
      <h3 class="font-bold mb-2">Dashboard Design</h3>
      <p class="text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolores sunt maxime ab, itaque eveniet maiores qui excepturi distinctio officiis harum voluptate. Blanditiis ducimus voluptatem minima itaque esse unde magnam!</p>
        <div class="flex justify-between items-center text-black text-sm">
        <span class="bg-green-300 font-bold text-black rounded-lg p-4">Design</span>
        <span>Tomorrow</span>
        </div>
      </div>
      
    </div>
    </div>

    <div id="active" class="bg-white shadow p-4">
      <h2 class="font-bold text-lg ml-40 mb-4">Active</h2>
      <button class="bg-blue-100 rounded-md text-blue-700 py-2 px-4 w-full mb-4" onclick="AddTask('active')">+ Nova Tarefa</button>
      <div class="bg-slate-100 p-4 rounded-md mb-4">
      <h3 class="font-bold mb-2">Design Systema</h3>
      <p class="text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolores sunt maxime ab, itaque eveniet maiores qui excepturi distinctio officiis harum voluptate. Blanditiis ducimus voluptatem minima itaque esse unde magnam!</p>
        <div class="flex justify-between items-center text-black text-sm">
        <span class="bg-green-300 font-bold text-black rounded-lg p-4">Design</span>
        <span>Tomorrow</span>
        </div>
      </div>
      
      </div>
    </div>
    </div>




















  </section>
