<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <h2 class="text-4xl font-bold text-gray-800 text-center mb-10">Roadmaps</h2>

    <div class="flex flex-col items-center justify-center space-y-8">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 w-full max-w-4xl"
        >
            <button
                id="logicProgrammingBtn"
                class="bg-blue-500 font-bold text-white py-3 px-8 rounded-lg text-xl transition-colors duration-300 hover:bg-blue-700 hover:shadow-lg shadow"
            >
                Lógica de Programação
            </button>
            <button
                id="objectOrientedProgrammingBtn"
                class="bg-green-500 font-bold text-white py-3 px-8 rounded-lg text-xl transition-colors duration-300 hover:bg-green-700 hover:shadow-lg shadow"
            >
                Programação Orientada a Objetos
            </button>
            <button
                id="webDevelopmentBtn"
                class="bg-red-500 font-bold text-white py-3 px-8 rounded-lg text-xl transition-colors duration-300 hover:bg-red-700 hover:shadow-lg shadow"
            >
                Desenvolvimento Web
            </button>
            <button
                id="dataStructuresBtn"
                class="bg-purple-500 font-bold text-white py-3 px-8 rounded-lg text-xl transition-colors duration-300 hover:bg-purple-700 hover:shadow-lg shadow"
            >
                Estruturas de Dados
            </button>
            <button
                id="algorithmsBtn"
                class="bg-yellow-500 font-bold text-white py-3 px-8 rounded-lg text-xl transition-colors duration-300 hover:bg-yellow-700 hover:shadow-lg shadow"
            >
                Algoritmos
            </button>
            <button
                id="pythonBtn"
                class="bg-indigo-500 font-bold text-white py-3 px-8 rounded-lg text-xl transition-colors duration-300 hover:bg-indigo-700 hover:shadow-lg shadow"
            >
                Python
            </button>
        </div>
    </div>
</div>
